body {
    background-image: url("assets/bg.gif");
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'News Cycle';
    font-size: 16px;
    color:black;
}

h1 {
    font-weight: bold;
    color: black;
    font-size: 50px;
  }

.container {
    max-width: 1000px;
    margin-left: 25%;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    border: 0px;
}