body {
    background-image: url("assets/bg.gif");
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'VT323';
    font-size: 28px;
}

a {
    color: rgb(176, 0, 94);
}

    a:hover {
        font-style: italic;
        color: rgb(103, 78, 245); 
    }

.container {
    max-width: 1000px;
    margin-left: 33%;
    background-color: rgb(255, 255, 255);
    padding: 0px;
    border: 0px;
}

.content {
    width: 66%;
    float: left;
    background-color: rgb(0, 0, 0, 1);
    border-width: 7px;
    border-style: solid;
    border-color: rgb(249, 157, 252);
    border-radius: 5px;
    padding: 15px;
    color: rgb(227, 222, 255);
}

.content-dm {
    width: 68%;
    float: left;
    background-color: rgb(0, 0, 0, 1);
    border-width: 7px;
    border-style: solid;
    border-color: rgb(249, 157, 252);
    border-radius: 5px;
    padding: 10px;
    color: rgb(230, 222, 255);
}

#dvdlogo-canvas {
    z-index: -100;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.sidebar {
    width: 25%;
    float: right;
    background-color: rgb(0, 0, 0, 1);
    border-width: 7px;
    border-style: solid;
    border-color: rgb(249, 157, 252);
    border-radius: 5px;
    padding: 10px;
    color: rgb(227, 222, 255);
}
